<div class="row text-light text-center sticky-top headr-style">
    <div class="offset-md-5 col-md-2 name-style">
        Admin Home
    </div>
    <div class="offset-md-11 col-md-1">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="viewAssetsDetails()">
              <mat-icon>visibility</mat-icon>
              <span>Assets Statistics</span>
            </button>
            <button mat-menu-item (click)="addAsset()">
              <mat-icon>add</mat-icon>
              <span>Add Assets</span>
            </button>
            <button mat-menu-item (click)="manualAssign('Edit')">
               <mat-icon>edit</mat-icon>
              <span>Edit Recommonded Assets</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Logout</span>
            </button>
          </mat-menu>
          
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-4 text-center admin-table-header">
        <h2>
            Unassigned Assets Users &nbsp;
        <button class="btn btn-outline-dark refresh-btton-style" (click)="getUsersShortDetails()">Refresh</button>
    </h2>
       
   
       
</div>
<div class="row">
    <div class="col-md-4 scrollbar">
        <table class="table table-hover text-center table-style">
            <tr>
            <th *ngFor="let column of ViewHeaders">
                {{column}}
            </th>
            </tr>
        
            <tr *ngFor="let row of rows;let i =index">
                <td *ngFor="let column of ValueHeaders" class="sample"  (click)="rowClick(row)">
                    <span *ngFor="let name of ViewHeaders">
                        <span *ngIf="name =='#' && column==''">{{i+1}}</span>
                        <span *ngIf="name =='First' && column =='firstName'" > {{row[column]}}</span>
                        <span *ngIf="name =='Last' && column=='lastName'" > {{row[column]}}</span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-7">
        <div style="margin-top: 3%;" *ngIf="isUserSelected">
            <div class="row">
                <div class="col-md-5 offset-md-1 input-group">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" [disabled]="0==0" [(ngModel)]="user.firstName">
                    </div>
               </div>
                <div class="col-md-5 input-group">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" [disabled]="0==0" [(ngModel)]="user.lastName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 offset-md-1 input-group display-style">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" [disabled]="0==0" [(ngModel)]="user.emailId">
                    </div>
                </div>
                <div class="col-md-5 input-group">
                    <div class="form-group">
                        <label>Mobile No</label>
                        <input type="text" class="form-control" [disabled]="0==0" [(ngModel)]="user.mobileNo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 offset-md-1 input-group">
                    <div class="form-group">
                        <label>Date of Joining</label>
                        <input type="text" class="form-control" [disabled]="0==0" [(ngModel)]="user.dateOfJoining">
                    </div>
                </div>
                <div class="col-md-5 input-group">
                    <div class="form-group">
                        <label>Role</label>
                        <input type="text" class="form-control" [disabled]="0==0" [(ngModel)]="user.userRole">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 2%;">
                <span style="margin-left: 2%;"></span>
                <button class="offset-md-1 col-md-3 btn btn-outline-primary" (click)="recommondedAssets()">Recommended</button>
                <button class="offset-md-1 col-md-3 btn btn-outline-success" (click)="manualAssign('Assign')">Assign Manually</button>
            </div>
        </div>
    </div>
</div> 
