.headr-style{
    height: 50px; 
    background-color: black;
}
.name-style{
    position: absolute;
    bottom: 10px;
    font-size: xx-large;
}
.card-width{ 
    max-width: 200px !important;
    cursor: pointer;
}
.card-width:hover{
    background-color: lightgray;
}
.card-container {
    display: flex;
        flex-flow: row wrap;
        margin-top: 5%;
    }